body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header {
    display: block;
    grid-column: 2 / 3;
}

.upper-header {
    display: flex;
    border: solid;
}

.lower-header {
    display: flex;
    border: solid;
}

.project-controls ul{
    display: flex;
    flex-direction: row;
}

.sidebar {
    border: solid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}