body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;  
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    display: block;
    padding: 1rem 2rem 0rem 2rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #fafbf9;
    box-sizing: border-box;
}

label {
    font-size: 1.5rem;
    align-items: center;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

form {
    display: flex;
}

input {
    appearance: none;
    height: 2rem;
    width: 30rem;
    border-radius: 2rem;
}

.user-panel {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.user-avi{
    display: block;
    align-self: center;
    height: 2.5rem;
}

#big {
    height: 4rem;
}

.lower-header {
    display: flex;
    justify-content: space-between;
}

.user-panel-two {
    display: flex;
    gap: 1rem;
    font-weight: bolder;
}

.hi {
    font-size: x-small;
    padding-top: 1rem;
}

.user-panel-two p{
    font-size: large;
}

.lower-header .project-controls {
    display: flex;
    align-items: center;
}

.project-controls ul {
    display: flex;
}

.project-controls ul li{
    display: flex;
    font-size: large;
    color: #fafbf9;
    font-weight: bold;
    background-color: #475ad7;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
}

.file a{
    color: #fafbf9;
    text-decoration: none;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 1rem;
    background-color: #475ad7;
}

.sidebar h1 {
    text-align: center;
    
}

.dashboard-controls,
.sidebar a{
    color: #fafbf9;
    margin-top: -1rem;
}

.dash-one, .dash-two {
    padding: 0;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: large;
    justify-content: space-around;
}

.dash-one li,
.dash-two li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

ul{
    text-decoration: none;
    list-style: none;
    gap: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 250px;
    background-color: #ecebe9;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
}

#project-header {
    padding-left: 2.25rem;;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-rows: repeat(3, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 0.5rem solid #d08ab1;
    padding: 1rem;
    background-color: #fafbf9;
    border-radius: 0.5rem;
    box-shadow: #2e2f2f 0.15rem 0.15rem .15rem;
}


.card-controls {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.card-controls ul{
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: gray;
}

.svg-icon {
    height: 2rem;
    align-self: center;
    background-color: #fafbf9;
    border-radius: 2rem;
    padding: 0.5rem;
}

.upper-header .svg-icon {
    padding: 0;
    padding-right: 1rem;
}

.announcements {
    padding: 1rem;
}

.post h2{
    margin: 0;
    margin: .75rem 0;
    padding: 0;
}

.post .info {
    margin: 0;
    padding: 0;
    margin: .5rem 0;
}

.announcements,
.trending-posts {
    background-color: #fafbf9;
    border-radius: 0.5rem;
    box-shadow: #778899 0.1rem 0.1rem 0.1rem;
}

.trend {
    display: flex;
    justify-content: center;
}

.trend {
    padding: 0;
}

.trend img {
    margin-left: -1rem;
    padding-right: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    height: 5rem;
}

.user h3 {
    margin: 0;
    margin-top: 1.25rem;
}

.user p {
    margin: 0;
}

